<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="fe1924e1611047179f3c4bae7a2109cf" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_fe1924e1611047179f3c4bae7a2109cf = echarts.init(
            document.getElementById('fe1924e1611047179f3c4bae7a2109cf'), 'white', {renderer: 'canvas'});
        var option_fe1924e1611047179f3c4bae7a2109cf = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "effectScatter",
            "name": "\u6b4c\u66f2\u65f6\u957f(m.s)",
            "showEffectOn": "render",
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            },
            "symbolSize": 10,
            "data": [
                [
                    "\u706b\u7ea2\u7684\u8428\u65e5\u6717 \u8981\u4e0d\u8981\u4e70\u83dc",
                    "3.43"
                ],
                [
                    "\u4e0b\u5c71 \u8981\u4e0d\u8981\u4e70\u83dc",
                    "2.53"
                ],
                [
                    "\u6865\u8fb9\u59d1\u5a18 \u6d77\u4f26",
                    "3.03"
                ],
                [
                    "\u522b\u77e5\u5df1 \u6d77\u6765\u963f\u6728\u3001\u963f\u5477\u62c9\u53e4\u3001\u66f2\u6bd4\u963f\u4e14",
                    "4.40"
                ],
                [
                    "\u8fd9\u5c31\u662f\u7231\u5417 \u5bb9\u7956\u513f",
                    "3.59"
                ],
                [
                    "\u4f60\u7684\u7b54\u6848 \u963f\u5197",
                    "3.39"
                ],
                [
                    "\u52c7\u6c14 \u68c9\u5b50",
                    "4.01"
                ],
                [
                    "\u4e00\u4e2a\u4eba\u633a\u597d \u6768\u5c0f\u58ee",
                    "4.30"
                ],
                [
                    "\u767e\u82b1\u9999 \u9b4f\u65b0\u96e8",
                    "2.47"
                ],
                [
                    "\u4f60\u82e5\u4e09\u51ac \u963f\u60a0\u60a0",
                    "4.18"
                ],
                [
                    "\ud574\ubcfc\ub798 (\u8bd5\u8bd5\u770b) SISTAR",
                    "3.09"
                ],
                [
                    "\u70b8\u5c71\u59d1\u5a18 \u4e03\u97f3\u76d2",
                    "2.41"
                ],
                [
                    "Faded (Live) \u5f20\u97f6\u6db5\u3001\u8096\u6218",
                    "4.23"
                ],
                [
                    "\u53e5\u53f7 G.E.M.\u9093\u7d2b\u68cb",
                    "3.55"
                ],
                [
                    "\u6211\u7231\u4ed6 \u738b\u5c0f\u5e05",
                    "4.15"
                ],
                [
                    "\u4e00\u751f\u4e0e\u4f60\u64e6\u80a9\u800c\u8fc7 \u963f\u60a0\u60a0",
                    "3.59"
                ],
                [
                    "\u6b27\u82e5\u62c9 \u5f20\u97f6\u6db5",
                    "4.22"
                ],
                [
                    "\u7267\u9a6c\u57ce\u5e02 \u6bdb\u4e0d\u6613",
                    "4.18"
                ],
                [
                    "\u600e\u4e48\u80fd\u5fd8\u4e86 \u7a0b\u54cd",
                    "3.44"
                ],
                [
                    "\u9ebb\u96c0 \u674e\u8363\u6d69",
                    "4.12"
                ],
                [
                    "\u56a3\u5f20 en",
                    "4.14"
                ],
                [
                    "\u591a\u60f3\u5728\u5e73\u5eb8\u7684\u751f\u6d3b\u62e5\u62b1\u4f60 (Live) \u9694\u58c1\u8001\u6a0a",
                    "4.29"
                ]
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6b4c\u66f2\u65f6\u957f(m.s)"
            ],
            "selected": {
                "\u6b4c\u66f2\u65f6\u957f(m.s)": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u706b\u7ea2\u7684\u8428\u65e5\u6717 \u8981\u4e0d\u8981\u4e70\u83dc",
                "\u4e0b\u5c71 \u8981\u4e0d\u8981\u4e70\u83dc",
                "\u6865\u8fb9\u59d1\u5a18 \u6d77\u4f26",
                "\u522b\u77e5\u5df1 \u6d77\u6765\u963f\u6728\u3001\u963f\u5477\u62c9\u53e4\u3001\u66f2\u6bd4\u963f\u4e14",
                "\u8fd9\u5c31\u662f\u7231\u5417 \u5bb9\u7956\u513f",
                "\u4f60\u7684\u7b54\u6848 \u963f\u5197",
                "\u52c7\u6c14 \u68c9\u5b50",
                "\u4e00\u4e2a\u4eba\u633a\u597d \u6768\u5c0f\u58ee",
                "\u767e\u82b1\u9999 \u9b4f\u65b0\u96e8",
                "\u4f60\u82e5\u4e09\u51ac \u963f\u60a0\u60a0",
                "\ud574\ubcfc\ub798 (\u8bd5\u8bd5\u770b) SISTAR",
                "\u70b8\u5c71\u59d1\u5a18 \u4e03\u97f3\u76d2",
                "Faded (Live) \u5f20\u97f6\u6db5\u3001\u8096\u6218",
                "\u53e5\u53f7 G.E.M.\u9093\u7d2b\u68cb",
                "\u6211\u7231\u4ed6 \u738b\u5c0f\u5e05",
                "\u4e00\u751f\u4e0e\u4f60\u64e6\u80a9\u800c\u8fc7 \u963f\u60a0\u60a0",
                "\u6b27\u82e5\u62c9 \u5f20\u97f6\u6db5",
                "\u7267\u9a6c\u57ce\u5e02 \u6bdb\u4e0d\u6613",
                "\u600e\u4e48\u80fd\u5fd8\u4e86 \u7a0b\u54cd",
                "\u9ebb\u96c0 \u674e\u8363\u6d69",
                "\u56a3\u5f20 en",
                "\u591a\u60f3\u5728\u5e73\u5eb8\u7684\u751f\u6d3b\u62e5\u62b1\u4f60 (Live) \u9694\u58c1\u8001\u6a0a"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "Line-\u6b4c\u66f2\u65f6\u957f"
        }
    ]
};
        chart_fe1924e1611047179f3c4bae7a2109cf.setOption(option_fe1924e1611047179f3c4bae7a2109cf);
    </script>
</body>
</html>
